<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Your Own Chatbot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap">
  </head>
  <body>
<body>
  <div class="card">
    <div id="header">
      <h1><img src="/static/mainlogo.png" class="bot-icon">Fitness Chatbot</h1>
    </div>
    <div id="message-section">
      <div class="message" id="bot"><span id="bot-response">Hello.. How can I help You ?</span></div>
    </div>
    <div id="input-section">
      <input id="input" type="text" placeholder="Type a message" autocomplete="off" autofocus="autofocus"/>
      <button id="btn" class="send">
        <div class="circle"><i class="zmdi zmdi-mail-send"></i></div>
      </button>
    </div>
  </div>
  <script>

    const chatBox = document.querySelector("#message-section");
    const messageInput = document.querySelector("#input");
    const sendBtn = document.querySelector("#btn");

    function addMessage(message, isUserMessage) {
      const messageDiv = document.createElement("div");
      messageDiv.classList.add("mt-3", "p-3", "rounded");
           
            

      if (isUserMessage) {
        messageDiv.classList.add("user-message");

      } else {
        messageDiv.classList.add("bot-message");
      }

      messageDiv.innerHTML = `
        <img src="{{ url_for('static', filename='userlogo.png') }}" class="user-icon"><h4>User >></h4><p>${message}</p>
        `;

      chatBox.appendChild(messageDiv);
      chatBox.scrollTop = chatBox.scrollHeight;
    }

    function sendMessage() {
      const message = messageInput.value.trim();

      if (message !== "") {
        addMessage(message, true);

        fetch("/api", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ message })
        })
          .then(response => response.json())
          .then(data => {
                      messageInput.value = "";
            const messageDiv = document.createElement("div");
            messageDiv.id="bot";
            messageDiv.classList.add("mt-3", "p-3", "rounded");
            messageDiv.classList.add("bot-message");
           
            const content = data.content;
            
            // Check if the content has code block
            const hasCodeBlock = content.includes("```");
            if (hasCodeBlock) {
              // If the content has code block, wrap it in a <pre><code> element
              const codeContent = content.replace(/```([\s\S]+?)```/g, '</p><pre><code>$1</code></pre><p>');

             
              messageDiv.innerHTML = `<img src="{{ url_for('static', filename='logo.jpg') }}" class="bot-icon"><h4>Chat Bot >></h4><p>${codeContent}</p>`
             
            }
            else{
              messageDiv.innerHTML = `<img src="{{ url_for('static', filename='logo.jpg') }}" class="bot-icon"><h4>Chat Bot >></h4><p>${content}</p>`
            }
            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;

          })
          .catch(error => console.error(error));
      }
    }

    
    sendBtn.addEventListener("click", sendMessage);
    messageInput.addEventListener("keydown", event => {
      if (event.keyCode === 13 && !event.shiftKey) {
        event.preventDefault();
        sendMessage();
      }
    });


  </script>
</body>
</html>
